
.colaborador {
    width: 280px;
    margin-bottom: 24px;
    margin-top: 20px;
    position: relative;
}

.colaborador-header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.colaborador-header img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .info {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;

} h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    color: #6278F7;
} 

.colaborador .info h5 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    padding: 0 20px;
    line-height: 20px;
    color: #212121;
}

.eliminar{
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    font-size: 25px;
}

.heart {
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}